body{
    background-image: url(./shara\ desert.jpg);
    margin:0px;
}
a{
    text-decoration: none;
    color:white;
}
.first-container{
    display:flex;
}
.first-container-left{
    position:relative;
    top:20px;
    left:80px;
    cursor:pointer;
}
.first-container-right{
    position:relative;
    top:20px;
    left:60%;
    display:flex;
    cursor:pointer;
}
.box5{
    padding-top:13px;
    font-weight: bolder;
    color:white;
}
.box6{
    padding-left:15%;
    padding-top:13px;
    font-weight: bolder;
    color:white;
}
.box7{
    padding-left:15%;
    padding-top:13px;
    font-weight: bolder;
    color:white;
}
.box8{
    padding-left:15%;
}
.container{
    display:flex;
    margin-top:20px;
    margin-bottom:20px;
    float: left;
}
 

.last-container{
    position:relative;
    left:0px;
    top:20%;
    bottom:10%;
    float: right;
}
.grid-container{
    display:grid;
    grid-template-columns:250px 250px;
    grid-row-gap:40px;
}
.box{
    border:1px solid black;
    border-radius:10px;
    width:200px;
    height:200px;
    cursor:pointer;
    padding-left:10px;
}
}
.box:hover{
    transform:translateY(-10px);
}
.card{
    color:white;
    font-size:x-large;
    padding-top:10px;
}
.box1{
    background-image:url(./pic-1.png);
    background-size: cover;
    grid-row: 1/2;
    grid-column:1/2;
    
}
.card1{
    color:white;
}
.box2{
    background-image:url(./pic-2.png);
    background-size: cover;
    grid-row: 1/2;
    grid-column:2/3;
}
.card2{
    color:white;
    
}
.box3{
    background-image:url(./pic-3.png);
    background-size: cover;
    grid-row: 2/3;
    grid-column:1/2;
}
.card3{
    color:white;
    
}
.box4{
    background-image:url(./pic-4.png);
    background-size: cover;
    grid-row: 2/3;
    grid-column:2/3;
}
.card4{
    color:white;
    
}

/* MOTO G-4 */

@media screen and (min-width:100px) and (max-width:500px) {
    
    body,html{
        margin:0;
        background-image: url("shara\ desert.jpg");
    }
    a{
        text-decoration: none;
        color:white;
    }
    .first-container{
        display:flex;
    }
    .first-container-left{
        position:relative;
        top:30px;
        left:30px;
        cursor:pointer;
        font-size: small;
    }
    .first-container-right{
        position:relative;
        top:10px;
        left:80%;
        display:inline-block;
        cursor:pointer;
        font-size: smaller;
    }
   
    /* .second{
        padding-left:15%;
        padding-top:5px;
        font-weight:bold;
        color:white;
    }
  */
    .second{
       position:relative;
       left:-50px;
       top:-130px;
    }
    .container-box1{
        color:white;
        font-size:30px;
        position:relative;
        left:80px;
        top:100px;
    }
    .container-box2{
        color:white;
        font-weight:lighter;
        position:relative;
        left:80px;
        top:70px;
    }
    .container-box3{
        color:white;
        font-weight:normal;
        position:relative;
        left:80px;
        top:55px;
    }
    .container-box4{
        color:white;
        font-weight:normal;
        position:relative;
        left:80px;
        top:41px;
    }
    .button{
        width:140px;
        
        font-size:12px;
    
        padding:12px 0;
    
        border:0;
    
        margin-left:80px;
        margin-top:30px;
        cursor:pointer;
    }
    .last-container{
        position:relative;
        top:500%;
        margin-top:350px;
        margin-left: calc(-300px);
    }
    .grid-container{
        display:inline;
    }
    .box{
        border:1px solid black;
        border-radius:10px;
        width:200px;
        height:200px;
        cursor:pointer;
        margin-top:30px;
    }
    
}
/* iPad */
@media screen and (min-width:450px) and (max-width:900px) {
    
    body,html{
        height:100%;
        margin:0;
        background-image: url("shara\ desert.jpg");
    }
    a{
        text-decoration: none;
        color:white;
    }
    .first-container{
        display:flex;
    }
    .first-container-left{
        position:relative;
        top:30px;
        left:70px;
        cursor:pointer;
        font-size: small;
    }
    .first-container-right{
        position:relative;
        top:20px;
        left: 355px;
        display:flex;
        cursor:pointer;
    }
    .second{
        position:relative;
        left:-50px;
        top:-130px;
     }
     .container-box1{
         color:white;
         font-size:40px;
         position:relative;
         left:120px;
         top:130px;
     }
     .container-box2{
         color:white;
         font-weight:lighter;
         position:relative;
         left:120px;
         top:100px;
     }
     .container-box3{
         color:white;
         font-weight:normal;
         position:relative;
         left:120px;
         top:90px;
     }
     .container-box4{
         color:white;
         font-weight:normal;
         position:relative;
         left: 120px;
         top:80px;
     }
     .button{
         font-size:12px;
        
         padding:12px 0;
         border:0;
         margin-left:120px;
         margin-top:80px;
         cursor:pointer;
     }
     .last-container{
         position:relative;
         top:500%;
         margin-top:350px;
         margin-left: calc(-340px);
     }
     .grid-container{
         display:inline;
     }
     .box{
         border:1px solid black;
         border-radius:10px;
         width:400px;
         height:200px;
         cursor:pointer;
         margin-top:30px;
     }
     .box1{
        background-image:url(./pic-1.png);
        background-size: cover;
    }
    .box2{
        background-image:url(./pic-2.png);
        background-size: cover;
    }
    .box3{
        background-image:url(./pic-3.png);
        background-size: cover;
    }
    .box4{
        background-image:url(./pic-4.png);
        background-size: cover;
    }


    
}